@font-face {
  font-family: 'alien';
  src: url('./fonts/alien.ttf') format('truetype');
}



@font-face {
  font-family: 'KitisakkullianAf-ALWnx';
  src: url('./fonts/KitisakkullianAf-ALWnx.otf') format('truetype');
}

@font-face {
  font-family: 'Narcotix-lPJX';
  src: url('./fonts/Narcotix-lPJX.ttf') format('truetype');
}




@font-face {
  font-family: 'kremlin';
  src: url('./fonts/kremlin.ttf') format('truetype');
}


@font-face {
  font-family: 'nyamawemban';
  src: url('./fonts/nyamawemban.ttf') format('truetype');
}

@font-face {
  font-family: 'electroharmonix';
  src: url('./fonts/electroharmonix.otf') format('truetype');
}

@font-face {
  font-family: 'OuterRimAf-d9Kq7';
  src: url('./fonts/OuterRimAf-d9Kq7.otf') format('truetype');
}


@font-face {
  font-family: 'AlienAlphabet-nRRqJ';
  src: url('./fonts/AlienAlphabet-nRRqJ.otf') format('truetype');
}



@font-face {
  font-family: 'Mage Script';
  src: url('./fonts/Mage Script.ttf') format('truetype');
}


@font-face {
  font-family: 'Zdyk Sagittarius';
  src: url('./fonts/Zdyk Sagittarius.otf') format('truetype');
}


@font-face {
  font-family: 'ex-hira1';
  src: url('./fonts/ex-hira1.ttf') format('truetype');
}


@font-face {
  font-family: 'ex-kata2';
  src: url('./fonts/ex-kata2.ttf') format('truetype');
}