main {
  min-height: 100vh;
  color: #21d07a;
  /* Bright green text color */
  text-align: center;
  padding: 10px 0;
  font-size: 1.2em;
}
body {
  background-image: linear-gradient(#0c0c0c 26%, #08301c 48%, #121212 73%);
  animation: unicorn-slide 5s ease infinite; /* Adjusted duration to 5s */
  background-size: 200% 200%;
}

@keyframes unicorn-slide {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-webkit-keyframes unicorn-slide {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}



   
h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}


.arshop-button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.arshop-button:focus,
.arshop-button:hover {
  color: #fff;
}

.arshop-button:focus:after,
.arshop-button:hover:after {
  width: 100%;
  left: 0%;
}

.arshop-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #21d07b66;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}



