.loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.loader::after {
  content: '';  
  width: 96px;
  height: 4.8px;
  background: rgb(33, 208, 122);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 2s ease-in-out infinite alternate; /* Adjusted animation duration */
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-117%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}
